import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

params {
    model_file = 'model/BIFROST_HTTr_beta_logistic_batch'
    work_dir = './work'
    results_dir = './results'
    n_cores = 4
    max_nodes = 1
    meta_data = 'dataset_prep/data/Example_Meta_Data.csv'
    meta_mapper = 'dataset_prep/data/sers_meta_data_mapper.yml'
    counts = 'dataset_prep/data/Example_Counts.csv'
    substances_cell_types = 'dataset_prep/data/substances_cell_types.yml'
    additional_divider = 'N/A'
    batch_key = 'Exposure plate ID'
    min_percent_mapped_reads = 50
    min_num_mapped_reads = 100000
    min_avg_treatment_count = 5
    specific_filters = '{}'
}

docker {
    enabled = true
    fixOwnership = true
}

profiles {
  az {
    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
        tokenDuration = '30d'
      }
      registry {
        server =  'bnlweu57679acr05.azurecr.io'
        userName =  azure_config["AcrUserName"]
        password =  azure_config["AcrPassword"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        allowPoolCreation = false //Nextflow automatically creates a pool of computing nodes to execute the jobs
        autoPoolMode = true
        deletePoolsOnCompletion = true //The pool is removed when the pipeline execution terminates
        pools {
            auto {
                autoScale = true
                vmType = 'Standard_F4s_v2'
                scaleFormula = "\$samples = \$ActiveTasks.GetSamplePercent(TimeInterval_Minute * 15);\$tasks = \$samples < 70 ? max(0,\$ActiveTasks.GetSample(1)) : max( \$ActiveTasks.GetSample(1), avg(\$ActiveTasks.GetSample(TimeInterval_Minute * 15)));\$maxTasksPerNode = 1;\$round = \$maxTasksPerNode - 1;\$targetVMs = \$tasks > 0 ? ((\$tasks + \$round) / \$maxTasksPerNode) : max(0, \$TargetDedicated/2) + 0.5;\$TargetDedicatedNodes = max(0, min(\$targetVMs, 0));\$TargetLowPriorityNodes = max(0, min(\$targetVMs, $params.max_nodes));\$NodeDeallocationOption = taskcompletion;"
            }
        }
      }
    }
    workDir = params.work_dir
    executor.cpus = params.n_cores
    process {
      executor = 'azurebatch'
      container = 'bnlweu57679acr05.azurecr.io/bifrost:dev'
      errorStrategy = 'retry' 
      maxRetries = 3
    }
  }

  local {
    process {
      container = 'bifrost:2023'
    }
    executor.cpus = params.n_cores
    docker.enabled = true
  }
}