/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    outdir = 'results'
}

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    withName: 'CONC_RESPONSE_ANALYSIS' {
        ext.args = "--seed 42"

        // Make the tar file reproducible for testing
        ext.args2 = "--sort=name --mtime='UTC 2020-01-01' --owner=0 --group=0 --numeric-owner"
        ext.args3 = "-n"
    }

    withName: 'COMPRESS_OUTPUT' {
        ext.args = "--seed 42 --no-compression"
    }
}

params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/bifrost'