/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PREPARE_INPUTS' {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            "--batch-key \"${params.batch_key}\"",
            "--min-percent-mapped-reads \"${params.min_percent_mapped_reads}\"",
            "--min-num-mapped-reads \"${params.min_num_mapped_reads}\"",
            "--min-avg-treatment-count \"${params.min_avg_treatment_count}\"",
            "--test-probes \"${params.test_probes}\"",
            params.seed ? "--random-seed ${params.seed}" : ''
        ].findAll().join(' ').trim()}
    }

    withName: 'CONC_RESPONSE_ANALYSIS' {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.name}_fits_${meta.batch_number}.tar.gz" }
        ext.args = params.seed ? "--seed ${params.seed}" : ''
        // On setups with shared file systems, the module pre-compilation seems
        // to work fine, but for some reason not on e.g. Azure without Fusion.
        // If we choose to compile per process on a shared file system, we need
        // to copy in the uncompiled model to prevent race conditions where the
        // model is compiled by multiple processes.
        stageInMode = { params.precompile_model ? 'symlink' : 'copy' }
    }

    withName: 'COMPRESS_OUTPUT' {
        publishDir = [
            path: { "${params.outdir}/compressed_results" },
            mode: params.publish_dir_mode,
        ]
        ext.prefix = { "${meta.id}_results" }
        ext.args = { params.seed ? "--seed ${params.seed}" : '' }
    }

    withName: 'SPLIT_DATA' {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_probes" }
        ext.args = { "--batch-size ${params.n_cores} --batch-mode ${params.batch_mode}" }
    }
}
