/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PREPARE_INPUTS' {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            "--batch-key \"${params.batch_key}\"",
            "--min-percent-mapped-reads \"${params.min_percent_mapped_reads}\"",
            "--min-num-mapped-reads \"${params.min_num_mapped_reads}\"",
            "--min-avg-treatment-count \"${params.min_avg_treatment_count}\"",
            "--test-probes \"${params.test_probes}\"",
            params.seed ? "--random-seed ${params.seed}" : ''
        ].findAll().join(' ').trim()}
        cpus = 1
    }

    withName: 'CONC_RESPONSE_ANALYSIS' {
        cpus   = params.n_cores
        memory = { 3.GB * task.attempt }
        time   = { 4.h  * task.attempt }
        disk   = '10 GB'
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.name}_fits_${meta.batch_number}.tar.gz" }
        ext.args = params.seed ? "--seed ${params.seed}" : ''
        // On setups with shared file systems, the module pre-compilation seems
        // to work fine, but for some reason not on e.g. Azure without Fusion.
        // If we choose to compile per process on a shared file system, we need
        // to copy in the uncompiled model to prevent race conditions where the
        // model is compiled by multiple processes.
        stageInMode = { params.precompile_model ? 'symlink' : 'copy' }
    }

    withName: 'COMPRESS_OUTPUT' {
        publishDir = [
            path: { "${params.outdir}/compressed_results" },
            mode: params.publish_dir_mode,
        ]
        ext.prefix = { "${meta.id}_results" }
        ext.args = { params.seed ? "--seed ${params.seed}" : '' }
    }

    withName: 'SPLIT_DATA' {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_probes" }
        ext.args = { "--batch-size ${params.n_cores} --batch-mode ${params.batch_mode}" }
    }

    withName: 'CREATE_MULTIQC_REPORT' {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = [
            params.report_timepoint ? "--timepoint \"${params.report_timepoint}\"" : '',
            params.report_conc_units ? "--conc-units \"${params.report_conc_units}\"" : '',
            params.report_interactive_plots ? '--interactive-plots' : '',
            params.report_n_fold_change_probes ? "--n-fold-change-probes \"${params.report_n_fold_change_probes}\"" : '',
            params.report_cds_threshold ? "--cds-threshold \"${params.report_cds_threshold}\"" : '',
            params.report_n_lowest_means ? "--n-lowest-means \"${params.report_n_lowest_means}\"" : '',
            params.report_n_pod_stats ? "--n-pod-stats \"${params.report_n_pod_stats}\"" : '',
            params.report_plot_height ? "--plot-height  \"${params.report_plot_height}\"" : '',
            params.report_pod_vs_fc_height ? "--pod-vs-fc-height \"${params.report_pod_vs_fc_height}\"" : '',
            params.report_no_cds_threshold ? '--no-cds-threshold' : ''
        ].join(' ').trim()
    }
}
