/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run bifrost.nf -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    n_cores = 2
    max_nodes = 1

    // Input data
    meta_data = "${projectDir}/test_data/minimal/Example_Meta_Data.csv"
    meta_mapper = "${projectDir}/test_data/minimal/sers_meta_data_mapper.yml"
    counts = "${projectDir}/test_data/minimal/Example_Counts_2probes.csv"
    substances_cell_types = "${projectDir}/test_data/minimal/substances_cell_types.yml"
}