/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -c conf/test.config

----------------------------------------------------------------------------------------
*/

params {
    // Basic parameters
    model_file = "${projectDir}/model/BIFROST_HTTr_beta_logistic_batch"
    n_cores = 2
    max_nodes = 1

    // Input data
    meta_data = "${projectDir}/test_data/minimal/Example_Meta_Data.csv"
    meta_mapper = "${projectDir}/test_data/minimal/sers_meta_data_mapper.yml"
    counts = "${projectDir}/test_data/minimal/Example_Counts_2probes.csv"
    substances_cell_types = "${projectDir}/test_data/minimal/substances_cell_types.yml"
}