/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run seacunilever/bipode -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    n_cores = 4
    max_nodes = 1
    seed = 42  // Set seed for reproducible test runs
    batch_mode = 'all'

    // Input data
    input = "${projectDir}/assets/test_data/full/Example_Meta_Data.csv"
    counts = "${projectDir}/assets/test_data/full/Example_Counts.csv"
    bipode_config = "${projectDir}/assets/test_data/full/substances_cell_types.yml"
    meta_mapper = "${projectDir}/assets/test_data/mi/meta_data_mapper.yml"
}
