/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bifrost.nf -c conf/test.config

----------------------------------------------------------------------------------------
*/

params {
    n_cores = 2
    max_nodes = 1

    // Input data
    meta_data = "${projectDir}/test_data/full/Example_Meta_Data.csv"
    meta_mapper = "${projectDir}/test_data/full/sers_meta_data_mapper.yml"
    counts = "${projectDir}/test_data/full/Example_Counts.csv"
    substances_cell_types = "${projectDir}/test_data/full/substances_cell_types.yml"
}