/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run seacunilever/bipode -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    n_cores = 2
    max_nodes = 1
    seed = 42  // Set seed for reproducible test runs
    batch_mode = 'all'

    // Input data
    input = "${projectDir}/assets/test_data/minimal/Example_Meta_Data.csv"
    counts = "${projectDir}/assets/test_data/minimal/Example_Counts_5probes.csv"
    bipode_config = "${projectDir}/assets/test_data/minimal/substances_cell_types.yml"
    meta_mapper = "${projectDir}/assets/test_data/minimal/meta_data_mapper.yml"
}

process {
    maxRetries = 0
}
